.search-bar-container {
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    width: 65%;
    border-radius: 15px;
    padding: 0 15px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 45px;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}