.MuiContainer-root.detailed-product {
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 150px 0 100px 0;
}

.detailed-product image-wrapper img {
    width: 100%;
}


.detailed-product text {
    color: #ffffff;
}

.detailed-product .text h2 {
    font-size: 30px;
}


.detailed-product .text span h1{ 
    font-size: 20px;
    font-weight: 300;
}

.detailed-product .text h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.detailed-product .text .quantity {
    margin-bottom: 5px;
}


.MuiContainer-root.detailed-product .custom-button {
    color: #000;
    background-color: #bb86fc;
}

.MuiContainer-root.detailed-product .custom-button:hover{
    color: #c9d1d9
}

.MuiContainer-root.detailed-product .custom-button svg {
    margin-right: 10px;
}

.MuiContainer-root.detailed-product .increase-product-quantitiy {
    background-color: #03dac5;
    border-color: #03dac5;
}

.detailed-product .MuiGrid-root .MuiGrid-item {
    padding: 5px 15px;
}

@media (min-width: 960px) {
    .MuiContainer-root.detailed-product {
        height: 88vh;
        margin: 40px 0 0;
    }
}


