.text-field {
    max-width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}